$gray-bg: #ccc;
$blue-bg: #337ab7;
$white-txt: #fff;
$star-color: #ffff0a;

body {
	background: $gray-bg;

	.navbar {
		background: $blue-bg;
		border: none;
    	border-radius: 0;

		&-brand {
			color: $white-txt;
		}
	}

	.main {
		&-results {

			.list-group-item {
				cursor: pointer;
			}

			.panel {
				border: none;

				.panel-heading {
					background: $blue-bg;
					color: $white-txt;

					.glyphicon-star {
						color: $star-color;
					}
				}
			}
		}
	}
}